<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TS Scheduler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/sched_intro_style.css" />
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="top">
        <div class="pageHeader">
            <h2 style="display: inline-block"><a href="landing.html">Twitch Social</a></h2>
            <!-- <img style="display: inline-block;" src="../imgs/logo_temp.png" alt="" width="75px" height="75px"> -->
        </div>
    </div>
    <div class="main">
        <div class="item">
            <div class="itemHeader">
                <h2>Introducing our Scheduler</h2>
                <p>The Scheduler feature allows followers of a streamer to view upcoming content the streamer has planned.</p>
                <span><em>You heard it right.</em></span>
                <p>There's no more need to guess what a streamer will be doing at a given time. You'll know in advance.</p>
            </div>
            <div class="itemInnerContent">
                <div class="innerContentDescription">
                    <p>Here's how it works in just 2 simple steps:</p>
                    <ol>
                        <li>The streamer updates their weekly planned content on Scheduler. This includes when he will go live and what he will be doing/playing at what time.</li>
                        <li>Followers can then view this planned content by visiting the streamer's Scheduler page.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="itemHeader">
                <h2>Insert gif of streamer's Scheduler page here.</h2>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footerContent">
            <p><small>&copy; Twitch Social all rights reserved.</small></p>
        </div>
    </div>
</body>
</html>