:root{
    --purple: #392e5c;
    --darker_purple: #2e244e;
    --darker_darker_purple: #251c41;
}

body{
    /* margin: 8px; */
    margin: 0;
    /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important; */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: #17141f;
    color: white;
}

h1, h2, h3, h4 {
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.top{
    background-color: var(--purple);
    /* width: inherit; */
    margin: 0;
    height: 125px;
    /* letter-spacing: 0.1rem; */
}

.pageHeader, .footerContent{
    width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
}

.pageHeader h2{
    font-size: 48px;
}

.main{
    display: grid;
    width: 1440px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
    grid-column-gap: 120px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.item{
    /* border: 5px solid rgba(0, 0, 0, 0.03); */
    /* border: 5px solid red; */
    border-radius: 3px;
    /* background-color: yellow; */
    overflow: hidden;
}

.itemHeader{
    padding: 42px 0 24px;
}

.itemHeader p{
    margin-top: 1.5em;
}

.itemInnerContent{
    margin-top: 20px;
    padding-bottom: 10px;
}

.itemInnerContent .mediaIcon{
    text-align: center;
    width: 55px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.itemInnerContent .innerContentDescription{
    display: inline-block;
}

.itemInnerContent .innerContentDescription span:nth-child(1){
    font-size: 1.2rem;
}

.itemInnerContent .innerContentDescription span:nth-child(2){
    font-size: 0.9rem;
}

ol li:nth-child(2){
    padding-top: 20px;
}

.rightContent{
    margin-top: 0;
}

.footer{
    margin: 0;
    height: 200px;
    background-color: #6884b4; /* E */
    /* background-color: #2c3b4e; */ /* M */
    /* background-color: #2b4e86; */ /* D */
    /* background-color: #4a78a9; */ /* G in 2nd row pattern */
    /* background-color: #9bafb6; */ /* O from bottom left corner */
}

.footerContent{
    padding-top: 30px;
}