:root{
    --purple: #392e5c;
    --darker_purple: #2e244e;
    --darker_darker_purple: #251c41;
}

body{
    /* margin: 8px; */
    margin: 0;
    /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important; */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: #17141f;
    color: white;
}

h1, h2, h3, h4 {
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.top{
    background-color: var(--purple);
    /* width: inherit; */
    margin: 0;
    height: 80px;
    /* letter-spacing: 0.1rem; */
}

.pageHeader, .footerContent{
    width: 1440px;
    margin: 0 auto;
    padding-top: 28px;
}

.pageHeader h2{
    font-size: 34px;
}

.main{
    /* display: grid; */
    width: 1440px;
    margin: 0 auto;
    height: 1200px;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
    grid-column-gap: 120px; */
    margin-bottom: 50px;
    padding-top: 20px;
}

.search{
    width: 100%;
    margin: 0 auto;
    margin-top: 8%;
}

.streamersGrid{
    display: grid;
    /* width: 1440px; */
    margin: 0 auto;
    height: inherit;
    grid-template-columns: repeat(auto-fill, minmax(80px, 110px));
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.item{
    /* border: 1px solid red; */
    overflow: hidden;
}

.item img{
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.item .streamerInfo{
    padding-top: 5%;
}

.item .streamerInfo h6{
    padding-left: 3px;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item .streamerInfo .fa-circle{
    color: red;
    float: left;
    margin-top: 2px;
    font-size: 0.8rem;
}

/* form starting stylings ------------------------------- */
.group { 
    position: relative; 
    margin-bottom: 45px; 
}

input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    background: transparent;
}

input:focus { 
    outline: none;
    color: white;
}

/* LABEL ======================================= */
label {
    color: #999; 
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    /* color:#5264AE; */
    color: #7466a0;
}

/* BOTTOM BARS ================================= */
.bar { 
    position: relative;
    display: block;
    width: 300px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    /* background:#5264AE; */
    background: var(--purple);
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background: var(--purple); }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background: var(--purple); }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background: var(--purple); }
    to 	{ width:0; background:transparent; }
}

hr{
    border-top: 1px solid #666666;
}

.footer{
    margin: 0;
    height: 200px;
    background-color: #6884b4; /* E */
    /* background-color: #2c3b4e; */ /* M */
    /* background-color: #2b4e86; */ /* D */
    /* background-color: #4a78a9; */ /* G in 2nd row pattern */
    /* background-color: #9bafb6; */ /* O from bottom left corner */
}

.footerContent{
    padding-top: 30px;
}